<div class="d-flex flex-row">
  <input type="checkbox" id="burger-toggle">
  <label for="burger-toggle" class="burger-menu " aria-expanded="false" aria-label="Toggle navigation">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </label>

  <div class="nav-item mb-2 text-center nav-icon d-flex flex-column justify-content-center mx-2 text-center align-middle mobile-cart-icon">
    <a class=" cart   text-center  ml-2" href="{{ routes.cart_url }}" aria-label="{{ 'layout.navigation.cart' | t | escape }}">
      {% include 'svg-cart' %}
      {% if cart.item_count > 0 %}
      {{ cart.item_count }}
      {% endif %}
    </a>
  </div>

  <div class="menu">
    <div class="menu-inner">
      
      <nav id="page-menu" class=" nav-uses-modal" >
        <div class="inner">
          <div class="container growth-area">
            <div class="nav main-nav mx-auto" role="navigation" aria-label="{{ 'layout.navigation.menu_aria_label' | t | escape }}">

              {% include 'modal-horizontal-nav' with section.settings.nav_horizontal_1 %}
              {% include 'modal-horizontal-nav' with section.settings.nav_horizontal_2 %}
              {% include 'modal-horizontal-nav' with section.settings.nav_horizontal_3 %}
              {% include 'modal-horizontal-nav' with section.settings.nav_horizontal_4 %}

              <ul>
                {% for link in linklists[section.settings.menu_linklist].links %}
                <li {% if link.active %}class="active"{% endif %}>
                  <a href="{{ link.url }}" {% if link.links != blank %}aria-haspopup="true"{% endif %}>
                    <span>{{ link.title }}</span>
                  </a>

                  {% if link.links != blank %}
                  <ul>
                    {% for child_link in link.links %}
                    <li {% if child_link.active %}class="active"{% endif %}>
                      <a href="{{ child_link.url }}" {% if child_link.links != blank %}aria-haspopup="true"{% endif %}>
                        <span>{{ child_link.title }}</span>
                      </a>

                      {% if child_link.links != blank %}
                      <ul>
                        {% for child_child_link in child_link.links %}
                        <li {% if child_child_link.active %}class="active"{% endif %}>
                          <a href="{{ child_child_link.url }}">
                            <span>{{ child_child_link.title }}</span>
                          </a>
                        </li>
                        {% endfor %}
                      </ul>
                      {% endif %}
                    </li>
                    {% endfor %}
                  </ul>
                  {% endif %}
                </li>
                {% endfor %}
              </ul>
            </div>

          </div>
        
          {% if shop.customer_accounts_enabled %}
          <div class="customer-links">
            {% if customer %}
            <a href="{{ routes.account_url }}">{{ 'layout.customer.account' | t }}</a>
            |
            <a href="{{ routes.account_logout_url }}">{{ 'layout.customer.log_out' | t }}</a>
            {% else %}
            <a href="{{ routes.account_login_url }}">{{ 'layout.customer.log_in' | t }}</a>
            |
            <a href="{{ routes.account_register_url }}">{{ 'layout.customer.register' | t }}</a>
            {% endif %}
          </div>
          {% endif %}    

        {% include 'social-icons', icon_setting: settings.social_custom_icon, icon_size: 'x40' %}

        {% if section.settings.show_locale_selector or section.settings.show_currency_selector %}
          <div class="localization">
            {% include 'localization', input_prefix: 'header' %}
          </div>
        {% endif %}
      </div>
    </nav>

  </div>
</div>


