{% if product.media.size == 1 %}
  <div class="split-image">
	   <img class="object-fit"  alt="{{product.featured_image.alt}}" src="{{  product.featured_image.src | img_url: "master" }}" >
  </div>
{% elsif product.media.size > 1 %}
  <div id="ProductCarouselIndicators" class="carousel slide flex-fill split-carousel" data-ride="false">
    <ol class="carousel-indicators">
      {% for image in product.images %}
      		<li data-target="#ProductCarouselIndicators" data-slide-to="{{ forloop.index0 }}" class="{% if forloop.first == true %}active{% endif %}"></li>
      {% endfor%}
    </ol>
    <div class="carousel-inner object-fit">
      {% if product.type =="Donut" %}
        {% for image in product.images offset:1 %}
          <div class="carousel-item  {% if forloop.first == true %}active{% endif %} object-fit ">
           <img class=" object-fit"  alt="{{image.alt}}" src="{{ image.src | product_img_url: 'master' }}" >
          </div>
        {% endfor%}
      {% else %}
        {% for image in product.images %}
          <div class="carousel-item  {% if forloop.first == true %}active{% endif %} object-fit ">
           <img class=" object-fit"  alt="{{image.alt}}" src="{{ image.src | product_img_url: 'master' }}" >
          </div>
        {% endfor%}
      {% endif %}
    </div>
    <a class="carousel-control-prev " href="#ProductCarouselIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon " aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#ProductCarouselIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon " aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
{% endif %}
