<section class="container-fluid px-0 mx-0 landing border-0" id="imagecallout">
	{% if section.settings.callout_image != blank %}
  	<img src="{{ section.settings.callout_image.src | img_url: "master" }}" class="object-fit" alt="{{section.settings.title}}" />
	{% else %}
		{{ 'lifestyle-2' | placeholder_svg_tag: 'placeholder-image object-fit' }}
	{% endif %}
  <div class="row inner px-0 mx-auto d-flex justify-content-center ">
    <div class="card--ordercta-body py-5 px-5 inner-box d-flex flex-column shadow ">
			<h1 class="feature-header feature-header--visible card-title line-1 pt-3 no-hyphens"> {{section.settings.title}} </h1>
			<p class="card-text line-2 pb-3"> {{section.settings.callout_subhead}} </p>
    </div>
  </div>
</section>


{% schema %}
  {
    "name": "Text Centered In Image",
    "settings": [
		{
			"type":	"text",
			"id":	"title",
			"label":	"Section Header"
		},
		{
			"type":	"text",
			"id":	"callout_subhead",
			"label":	"Section Subheader"
		},
		{
			  "type": "image_picker",
			  "id": "callout_image",
			  "label": "Background Image"
		}
		],
 	"presets": [
    {
      "name": "Text Centered In Image",
      "category": "Callouts"
    }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
