<section id="findus" class=" shopify-section bg--white border-bottom-0 py-5 bg--white">
  {%- assign sectiona_header = section.settings.foh_header -%}
  <div class="container ">
    <div class="row mb-4">
      <div class="col-12">
        <h1 class="feature-header h2 align-left feature-header--visible pt-3">{{ sectiona_header }}</h1>
        <div class="mw-700 my-2 rte">{{section.settings.foh_blurb}}</div>
      </div>
    </div>

    {% assign cities = section.blocks | map: "type" | uniq %}
    {%- for type in cities -%}
      {% assign city = type %}
    <div class="container my-3 pt-2">
      <div class="row">
        <div class="col-12 mb-3  ml-0 pl-0">
          <h4 class="text-left ml-0 pl-0"> {{ city }} </h4>
        </div>
      </div>
      <div class="row row-cols-1 row-cols-xs-2 row-cols-md-3">
          {% assign cityArray = section.blocks | where: "type", city %}
          {%- for block in cityArray -%}
            {% assign vendorName = block.settings.title %}
            {% assign vendorURL = block.settings.foh_vendorWebsite | replace: 'http://', 'https://'%}
            {% assign vendorWebsitePretty = block.settings.foh_vendorWebsite | remove: "www." | remove: "http://" | remove: "https://" | truncate: 30 %}
            {% assign vendorStreet = block.settings.foh_vendorStreet %}

          <a class="col mb-3 px-1 hvr-float vendor-box--a" href="{{vendorURL}}" target="_blank" rel="nofollow">
              <div class=" vendor-box  h-100 row no-gutters">
                <div class="col-4 h-100 d-flex flex-column justify-content-center  vendor-inner pl-4">
                  {% case block.settings.vendor_type %}
                    {% when "coffeeshop" %}
                      {% assign vendorIcon = 'coffee.svg' | asset_url %}
                    {% when "cafe" %}
                      {% assign vendorIcon = 'bread.svg' | asset_url %}
                    {% when "other" %}
                      {% assign vendorIcon = 'rollingpin.svg' | asset_url %}
                    {% when "else" %}
                      {% assign vendorIcon = 'rollingpin.svg' | asset_url %}
                  {% endcase %}
                  <img src="{{ vendorIcon }}" alt="{{ vendorName }}" class=" vendor-box--icon mx-auto"/>
                </div>
                <div class="col-8 ">
                  <div class="card-body vendor--card-body h-100 d-flex flex-column justify-content-between">
                    <h5 class="card-title text-left ml-0 pl-0 my-1">{{ block.settings.title }} </h5>
                    <div>
                      <p class="card-text py-1 my-0">{{vendorStreet}}</p>
                      <p class="card-text py-1 my-0">{{vendorWebsitePretty}}</p>
                    </div>
                  </div>
                </div>
              </div>
          </a>


          {%- endfor -%}
        </div> {% comment %}end row{% endcomment %}
      </div>
    {%- endfor -%}
  </div>{% comment %}end section container{% endcomment %}
</section>
{% comment %}
{% assign omaha = section.blocks | where: "type", "Omaha" %}
{% assign lincoln = section.blocks | where: "type", "lincoln" %}
{% assign bellevue = section.blocks | where: "type", "bellevue" %}
{% assign valley = section.blocks | where: "type", "valley" %}
{% assign councilbluffs = section.blocks | where: "type", "councilbluffs" %}
{% if omaha != blank %}
<h1> Omaha: </h1>
  {%- for block in omaha -%}
    <h5>{{ block.settings.title }} </h5>
  {%- endfor -%}
{% endif %}

{% if lincoln != blank %}
<h1> Lincoln: </h1>
  {%- for block in lincoln -%}
    <h5>{{ block.settings.title }} </h5>
  {%- endfor -%}
{% endif %}

{% if bellevue != blank %}
<h1> bellevue: </h1>
  {%- for block in bellevue -%}
    <h5>{{ block.settings.title }} </h5>
  {%- endfor -%}
{% endif %}

{% if valley != blank %}
<h1> valley: </h1>
  {%- for block in valley -%}
    <h5>{{ block.settings.title }} </h5>
  {%- endfor -%}
{% endif %}

{% if councilbluffs != blank %}
<h1> councilbluffs: </h1>
  {%- for block in councilbluffs -%}
    <h5>{{ block.settings.title }} </h5>
  {%- endfor -%}
{% endif %}
{% endcomment %}




{% schema %}
       {
         "name": "Find Our Holes",
         "presets": [
           {
             "name": "Order Option Buttons",
             "category": "About Page"
           }],
         "settings":	[
          {
            "type":	"text",
            "id":	"foh_header",
            "label":	"Section Header"
          },
          {
            "type":	"richtext",
            "id":	"foh_blurb",
            "label":	"Section Blurb"
          }
          ] ,
         "blocks": [
           {
             "type": "Omaha",
             "name": "Omaha Vendor",
             "settings": [
             {
               "id": "title",
               "type": "text",
               "label": "Vendor Name"
             },
             {
               "type":      "radio",
               "id":        "vendor_type",
               "label":     "Vendor Type",
               "options": [
                 { "value": "coffeeshop",   "label": "Coffee Shop" },
                 { "value": "cafe",         "label": "Café" },
                 { "value": "other",        "label": "Other" }
               ],
               "default":   "coffeeshop",
               "info":      "Select which type of vendor this is. This determines the displayed icon on the vendor card."
             },
             {
               "id": "foh_vendorWebsite",
               "type": "url",
               "label": "Vendor Website"
             },
             {
               "id": "foh_vendorStreet",
               "type": "text",
               "label": "Vendor Street Number"
             },
             {
               "id": "foh_vendorZip",
               "type": "text",
               "label": "Vendor Zip Code"
             }
             ]
           },
           {
             "type": "lincoln",
             "name": "Lincoln Vendor",
             "settings": [
             {
               "id": "title",
               "type": "text",
               "label": "Vendor Name"
             },
             {
               "type":      "radio",
               "id":        "vendor_type",
               "label":     "Vendor Type",
               "options": [
                 { "value": "coffeeshop",   "label": "Coffee Shop" },
                 { "value": "cafe",         "label": "Café" },
                 { "value": "other",        "label": "Other" }
               ],
               "default":   "coffeeshop",
               "info":      "Select which type of vendor this is. This determines the displayed icon on the vendor card."
             },
             {
               "id": "foh_vendorWebsite",
               "type": "url",
               "label": "Vendor Website"
             },
             {
               "id": "foh_vendorStreet",
               "type": "text",
               "label": "Vendor Street Number"
             },
             {
               "id": "foh_vendorZip",
               "type": "text",
               "label": "Vendor Zip Code"
             }
             ]
           },
           {
             "type": "bellevue",
             "name": "Bellevue Vendor",
             "settings": [
             {
               "id": "title",
               "type": "text",
               "label": "Vendor Name"
             },
             {
               "type":      "radio",
               "id":        "vendor_type",
               "label":     "Vendor Type",
               "options": [
                 { "value": "coffeeshop",   "label": "Coffee Shop" },
                 { "value": "cafe",         "label": "Café" },
                 { "value": "other",        "label": "Other" }
               ],
               "default":   "coffeeshop",
               "info":      "Select which type of vendor this is. This determines the displayed icon on the vendor card."
             },
             {
               "id": "foh_vendorWebsite",
               "type": "url",
               "label": "Vendor Website"
             },
             {
               "id": "foh_vendorStreet",
               "type": "text",
               "label": "Vendor Street Number"
             },
             {
               "id": "foh_vendorZip",
               "type": "text",
               "label": "Vendor Zip Code"
             }
             ]
           },
           {
             "type": "valley",
             "name": "Valley Vendor",
             "settings": [
             {
               "id": "title",
               "type": "text",
               "label": "Vendor Name"
             },
             {
               "type":      "radio",
               "id":        "vendor_type",
               "label":     "Vendor Type",
               "options": [
                 { "value": "coffeeshop",   "label": "Coffee Shop" },
                 { "value": "cafe",         "label": "Café" },
                 { "value": "other",        "label": "Other" }
               ],
               "default":   "coffeeshop",
               "info":      "Select which type of vendor this is. This determines the displayed icon on the vendor card."
             },
             {
               "id": "foh_vendorWebsite",
               "type": "url",
               "label": "Vendor Website"
             },
             {
               "id": "foh_vendorStreet",
               "type": "text",
               "label": "Vendor Street Number"
             },
             {
               "id": "foh_vendorZip",
               "type": "text",
               "label": "Vendor Zip Code"
             }
             ]
           },
           {
             "type": "councilbluffs",
             "name": "Council Bluffs Vendor",
             "settings": [
             {
               "id": "title",
               "type": "text",
               "label": "Vendor Name"
             },
             {
               "type":      "radio",
               "id":        "vendor_type",
               "label":     "Vendor Type",
               "options": [
                 { "value": "coffeeshop",   "label": "Coffee Shop" },
                 { "value": "cafe",         "label": "Café" },
                 { "value": "other",        "label": "Other" }
               ],
               "default":   "coffeeshop",
               "info":      "Select which type of vendor this is. This determines the displayed icon on the vendor card."
             },
             {
               "id": "foh_vendorWebsite",
               "type": "url",
               "label": "Vendor Website"
             },
             {
               "id": "foh_vendorStreet",
               "type": "text",
               "label": "Vendor Street Number"
             },
             {
               "id": "foh_vendorZip",
               "type": "text",
               "label": "Vendor Zip Code"
             }
             ]
           }
         ]
       }
     {% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
