<section id="findus" class=" shopify-section bg--white border-bottom-0 py-5 bg--white">
  <div class="container my-5">
    <div class="row">

<div class="col-12">
    {% assign omaha = section.blocks | where: "type", "Omaha" %}
    {% assign lincoln = section.blocks | where: "type", "lincoln" %}
    {% assign bellevue = section.blocks | where: "type", "bellevue" %}
    {% assign valley = section.blocks | where: "type", "valley" %}
    {% assign councilbluffs = section.blocks | where: "type", "councilbluffs" %}
      <h1> Omaha: </h1>
      {%- for block in omaha -%}
       <h5>{{ block.settings.title }} </h5>
    {%- endfor -%}

    <h1> Lincoln: </h1>
    {%- for block in lincoln -%}
     <h5>{{ block.settings.title }} </h5>
  {%- endfor -%}

  <h1> valley: </h1>
  {%- for block in valley -%}
   <h5>{{ block.settings.title }} </h5>
{%- endfor -%}

<h1> bellevue: </h1>
{%- for block in bellevue -%}
 <h5>{{ block.settings.title }} </h5>
{%- endfor -%}

<h1> councilbluffs: </h1>
{%- for block in councilbluffs -%}
 <h5>{{ block.settings.title }} </h5>
{%- endfor -%}

asdfs
</div>

        <div class=" col col-xs-2 col-sm-4 vendor-box h-100">
          <div class="row">
            <div class="col-3 h-100">
              <figure class="vendor-box--iconwrapper">
                <img src="" alt="" class="" />
              </figure>
            </div>
            <div class="col-9 h-100">

            </div>
          </div>
        </div>






      <div class="col-12 align-left">
       <h1 class="feature-header h2 align-left feature-header--visible pt-3">FIND OUR HOLES</h1>

        <p class="mw-700 my-2">Good news: There are a ton of sweet locations around Nebraska where you can snag our protein donuts! Find your fave below, and put the pedal to the metal. </div>
    </div>
    <div class="row mt-3 mb-2">
      <div class="col-12 align-left text-left">
        <h3 class="text-left align-left" >OMAHA, NE</h3>
      </div>
    </div>
    <div class="row row-cols-2 row-cols-md-3">

      {% include 'findus-omaha' %}
    </div>

    <div class="row mt-3 mb-2">
      <div class="col-12 align-left text-left">
        <h3 class="text-left align-left" >LINCOLN, NE</h3>
      </div>
    </div>
    <div class="row row-cols-2 row-cols-md-3">

      {% include 'findus-lincoln' %}
    </div>

    <div class="row mt-3 ">
      <div class="col-12 col-md-6 align-left text-left">
        <h3 class="text-left align-left text-uppercase mb-2" >Bellevue, NE</h3>
        <div class="row row-cols-1 row-cols-md-1">
          {% include 'findus-bellevue' %}
      	</div>
      </div>
      <div class="col-12 col-md-6 align-left text-left">
        <h3 class="text-left align-left text-uppercase mb-2" >VALLEY, NE</h3>
        <div class="row row-cols-1 row-cols-md-1">
          {% include 'findus-valley' %}
      	</div>
      </div>

    </div>

  </div>
</section>


{% schema %}
       {
         "name": "Find Our Holes",
         "presets": [
           {
             "name": "Order Option Buttons",
             "category": "About Page"
           }],
         "settings":	[
          {
            "type":	"text",
            "id":	"foh_header",
            "label":	"Section Header"
          },
          {
            "type":	"richtext",
            "id":	"foh_blurb",
            "label":	"Section Blurb"
          }
          ] ,
         "blocks": [
           {
             "type": "Omaha",
             "name": "Omaha Vendor",
             "settings": [
             {
               "id": "title",
               "type": "text",
               "label": "Vendor Name"
             },
             {
               "type":      "radio",
               "id":        "vendor_type",
               "label":     "Vendor Type",
               "options": [
                 { "value": "coffeeshop",   "label": "Coffee Shop" },
                 { "value": "cafe",         "label": "Café" },
                 { "value": "other",        "label": "Other" }
               ],
               "default":   "coffeeshop",
               "info":      "Select which type of vendor this is. This determines the displayed icon on the vendor card."
             },
             {
               "id": "foh_vendorWebsite",
               "type": "url",
               "label": "Vendor Website"
             },
             {
               "id": "foh_vendorStreet",
               "type": "text",
               "label": "Vendor Street Number"
             },
             {
               "id": "foh_vendorZip",
               "type": "text",
               "label": "Vendor Zip Code"
             }
             ]
           },
           {
             "type": "lincoln",
             "name": "Lincoln Vendor",
             "settings": [
             {
               "id": "title",
               "type": "text",
               "label": "Vendor Name"
             },
             {
               "type":      "radio",
               "id":        "vendor_type",
               "label":     "Vendor Type",
               "options": [
                 { "value": "coffeeshop",   "label": "Coffee Shop" },
                 { "value": "cafe",         "label": "Café" },
                 { "value": "other",        "label": "Other" }
               ],
               "default":   "coffeeshop",
               "info":      "Select which type of vendor this is. This determines the displayed icon on the vendor card."
             },
             {
               "id": "foh_vendorWebsite",
               "type": "url",
               "label": "Vendor Website"
             },
             {
               "id": "foh_vendorStreet",
               "type": "text",
               "label": "Vendor Street Number"
             },
             {
               "id": "foh_vendorZip",
               "type": "text",
               "label": "Vendor Zip Code"
             }
             ]
           },
           {
             "type": "bellevue",
             "name": "Bellevue Vendor",
             "settings": [
             {
               "id": "title",
               "type": "text",
               "label": "Vendor Name"
             },
             {
               "type":      "radio",
               "id":        "vendor_type",
               "label":     "Vendor Type",
               "options": [
                 { "value": "coffeeshop",   "label": "Coffee Shop" },
                 { "value": "cafe",         "label": "Café" },
                 { "value": "other",        "label": "Other" }
               ],
               "default":   "coffeeshop",
               "info":      "Select which type of vendor this is. This determines the displayed icon on the vendor card."
             },
             {
               "id": "foh_vendorWebsite",
               "type": "url",
               "label": "Vendor Website"
             },
             {
               "id": "foh_vendorStreet",
               "type": "text",
               "label": "Vendor Street Number"
             },
             {
               "id": "foh_vendorZip",
               "type": "text",
               "label": "Vendor Zip Code"
             }
             ]
           },
           {
             "type": "valley",
             "name": "Valley Vendor",
             "settings": [
             {
               "id": "title",
               "type": "text",
               "label": "Vendor Name"
             },
             {
               "type":      "radio",
               "id":        "vendor_type",
               "label":     "Vendor Type",
               "options": [
                 { "value": "coffeeshop",   "label": "Coffee Shop" },
                 { "value": "cafe",         "label": "Café" },
                 { "value": "other",        "label": "Other" }
               ],
               "default":   "coffeeshop",
               "info":      "Select which type of vendor this is. This determines the displayed icon on the vendor card."
             },
             {
               "id": "foh_vendorWebsite",
               "type": "url",
               "label": "Vendor Website"
             },
             {
               "id": "foh_vendorStreet",
               "type": "text",
               "label": "Vendor Street Number"
             },
             {
               "id": "foh_vendorZip",
               "type": "text",
               "label": "Vendor Zip Code"
             }
             ]
           }



         ]
       }
     {% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
