<section class="sprinkletime-section sprinkletime-section-sm">
    <div class="sprinkletime-container">
      <div class="sprinkle-holder">
        <div class="sprinkle"></div>
      </div>
      <div class="sprinkle-header-holder ">
       	 <h1 class="sprinkle-header ml16 pl-4 pb-2 pt-2"> {{ collection.title }}</h1>
      </div>
    </div>
  </section>

{% if collection.description != blank %}
{% assign is_donut = false %}
{% case collection.title %}
  {% when 'Original Donuts' %}
    {% assign donut_icon = 'HHH_Donut1.svg' | asset_url   %}
    {% assign stuffit_halfdozen_url = "https://hollys-healthy-holes-dev.myshopify.com/apps/bundles/bundle/47754" %}
    {% assign stuffit_fulldozen_url = "https://hollys-healthy-holes-dev.myshopify.com/apps/bundles/bundle/46920" %}
    {% assign stuffit_title = "Stuff It Ya Self – Original Donuts" %}
    {% assign stuffit_copy = " " %}
    {% assign is_donut = true %}
  {% when 'Specialty Donuts' %}
    {% assign donut_icon = 'HHH_Donut2.svg' | asset_url   %}
    {% assign stuffit_halfdozen_url = "#" %}
    {% assign stuffit_fulldozen_url = "#" %}
    {% assign stuffit_title = "Stuff It Ya Self – Specialty Donuts" %}
    {% assign stuffit_copy = " " %}
    {% assign is_donut = true %}
  {% when 'Vegan Donuts' %}
    {% assign donut_icon = 'HHH_Donut3.svg' | asset_url   %}
    {% assign is_donut = true %}
  {% when 'Other Noms' %}
    {% assign donut_icon = 'HHH_Donut4.svg' | asset_url   %}
    {% assign is_donut = true %}
{% endcase %}



<section class="container-fluid bg--white py-3">
  <div class="container my-5 py-5">
  <div class="row">
    <div class="col-3 d-flex flex-column justify-content-center">
      <img src="{{ donut_icon }}" alt="{{ collection.title }}" class="donut-icon float" />
    </div>
    <div class="col-12 col-md-6 offset-md-2 text-left">
      <h1 class="feature-header h2 align-left text-left">All About {{ collection.title }}</h1>
      <p class="lead text-left my-3">{{ collection.description }}</p>
      {% if is_donut %}
        <a class="btn button-outline my-3 hvr-float" href="/pages/nutrition">View Nutritional Info</a>
      {% endif %}
    </div>
  </div>
</section>
 {% endif %}

{% if collection.title == "Original Donuts" or collection.title == "Specialty Donuts" %}
 <section class="  container-fluid container-lg m-b-125  px-md-5">
   <div class="row py-5 px-4 bg--grey rounded-lg">
     <div class="col offset-md-1 col-md-6 py-5 px-2 d-flex flex-column justify-content-between">
       <h1 class="feature-header h2 align-left text-left feature-header--visible pt-0 no-hyphens pr-3 mw-500">{{ stuffit_title }}</h1>
       <p class="mw-500 pb-0 pr-3 mb-0">
         Appropriately initiate virtual e-markets for error-free alignments. Distinctively productivate cross-media convergence with bleeding-edge process improvements. Objectively facilitate economically sound leadership and dynamic information. Collaboratively implement.
       </p>
     </div>
     <div class="col col-md-4 py-5 px-2">
       <a class="flex-fill w-100 text-center border-0 d-flex flex-column hvr-float shadow-sm justify-content-center mb-3 bg--white rounded color--pink text-decoration-none py-3" href="{{ stuffit_halfdozen_url}} ">
         <p class="font-weight-bold mb-1">HALF DOZEN</p>
         <img class="img-fluid donut-symbol" src="{{  'HHH_half_dozen.svg' | asset_url  }}" alt="Build your own half dozen donut box"/>
       </a>
       <a class="flex-fill w-100 text-center border-0 d-flex flex-column hvr-float shadow-sm justify-content-center bg--white rounded color--pink text-decoration-none py-3" href="{{ stuffit_fulldozen_url }}">
         <p class="font-weight-bold mb-1">FULL DOZEN</p>
         <img class="img-fluid donut-symbol" src="{{  'HHH_dozen.svg' | asset_url  }}" alt="Build your own dozen donut box"/>
       </a>
     </div>
   </div>
 </section>
 {% endif %}


 <section class="product-list cf container-fluid container-lg py-3 my-3 px-md-5 m-t-125" id="CollectionSection-{{ block.id }}" data-section-id="{{ block.id }}" data-section-type="collection-template">
   <div class="row">
     <div class="col-12 align-left">
       <h1 class="feature-header h2 align-left text-left feature-header--visible pt-3 ">{{ collection.title }}</h1>
     </div>
     {% unless collection.products.size > 0 %}
       <div class="col-12"><p class="align-centre"><em>{{ 'collections.general.no_matches' | t }}</em></p></div>
     {% endunless %}
   </div>
   <div class="row row-cols-1 row-cols-md-1 row-cols-xl-2">
     {% for product in collection.products limit: '24'%}
       {% include 'product-block-horiz' %}
     {% endfor %}
   </div>
 </section>

 <section class="container">
   <div class="row">
     <div class="col-12 mx-auto text-center my-5">
       <a class="btn btn-primary hvr-float" href="/collections">{% include 'svg-chevron-left' %} Back To All Products</a>
     </div>
   </div>
 </section>


{% schema %}
  {
    "name": "Collection pages",
    "settings": [
      {
        "type": "checkbox",
        "id": "coll_content_bg_show",
        "label": "Show background color behind title and description",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "coll_show_tags",
        "label": "Show tag filters",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "coll_show_sort",
        "label": "Show sorting dropdown",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "coll_show_feat",
        "label": "Show 'Featured' option in sorting dropdown",
        "default": false
      },
      {
        "type": "select",
        "id": "coll_layout",
        "label": "Product layout",
        "options": [
          {
            "value": "columns",
            "label": "Collage"
          },
          {
            "value": "rows",
            "label": "Grid"
          }
        ],
        "default": "columns"
      },
      {
        "type": "range",
        "id": "coll_layout_per_row_int",
        "label": "Products per row",
        "min": 2,
        "max": 4,
        "default": 3
      },
      {
        "type": "range",
        "id": "coll_num_prods_int",
        "label": "Number of products to show per page",
        "min": 6,
        "max": 48,
        "step": 6,
        "default": 12
      },
      {
        "type": "select",
        "id": "hover_effect",
        "label": "Hover effect",
        "default": "info",
        "options": [
          {
            "value": "info",
            "label": "Show title and price"
          },
          {
            "value": "image",
            "label": "Show second image"
          },
          {
            "value": "",
            "label": "None"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "coll_infiniscroll",
        "label": "Enable infinite-scroll",
        "default": true
      }
    ]
  }
{% endschema %}
