<div id="instagram-feed" class="instagram_feed pb-0 mb-0"></div>
<footer class="page-footer px-1 px-md-5 cf bg--light-pink" data-section-type="footer">

  <div class="container px-1 ">
    <div class="row"><!--This is your first row-->
      <div class="col-md-4 d-flex flex-column justify-content-around  footer-col-last text-center text-md-left  my-3">
        		<a href="/" >
            		<img class="footer-logo w-100" src="{{  'HHH_Logo_AltBrown.svg' | asset_url  }}" alt="Holly's Healthy Holes logo" />
        		</a>
          <p class="copyright" role="contentinfo"></p>
      </div>
      <div class="col col-md-3 footer-nav p-3 h-100 text-center text-md-left" >
        <h4 class="text-center text-md-left mx-5 mx-md-1 mr-md-3 footer-header">Poke Around</h4>
        {% if section.settings.link_list != blank %}
          <div class="nav footer-nav w-100" role="navigation" aria-label="{{ 'layout.footer.menu_aria_label' | t | escape }}">
            <ul class="mb-2 mt-0 pt-0 text-center text-md-left w-100">
              {% for link in linklists[section.settings.link_list].links %}
              <li class="footer-nav-links ml-0">{{ link.title | link_to: link.url }}</li>
              {% endfor %}
              <li class="footer-nav-links ml-0">
                <div class="text-center text-md-left">
                  {% include 'social-icons', icon_setting: settings.social_custom_icon, icon_size: 'x40' %}
                </div>
              </li>
            </ul>
          </div>
  		{% endif %}


      </div>
<div class="col-md-5 d-flex flex-column justify-content-start text-center text-md-left p-3">
  <h4 class="text-center text-md-left mx-5 mx-md-1 mr-md-3 footer-header">Touch Us</h4>
  <div class="footer-contact-info pb-1 mb-1 pl-0 mx-5 mx-md-1 text-left">
    <svg width=".75em" height=".75em" viewBox="0 0 16 16" class="bi bi-phone mr-3 fill--dark-blue text-left"  xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" d="M11 1H5a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM5 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H5z"/>
      <path fill-rule="evenodd" d="M8 14a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
    </svg>
    <a href="tel:1402473050" target="_blank">(402) 347-3050</a>
  </div>
  <div class="footer-contact-info  pl-0 mx-5 mx-md-1 text-left">
    <svg width=".75em" height=".75em" viewBox="0 0 16 16" class="bi bi-envelope mr-3 fill--dark-blue text-left"  xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2zm13 2.383l-4.758 2.855L15 11.114v-5.73zm-.034 6.878L9.271 8.82 8 9.583 6.728 8.82l-5.694 3.44A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.739zM1 11.114l4.758-2.876L1 5.383v5.73z"/>
    </svg>
    <a href="mailto:holler@hollyshealthyholes.com" target="_blank">holler@hollyshealthyholes.com</a>
  </div>

</div>


</div><!--This ends the first row-->
<div class="row my-3 pt-5">
  <div class="footer-nav  col-12">
    <div class="image-wrapper">
      <img class="" src="{{  'HHH_DonutGuy.svg' | asset_url  }}" alt="Happy Gluten-Free Donut Illustration" />
      {% comment %}
    <div class="pixelbakery mt-1 text-center mt-2 small ">
      <span class="shop">&copy; {{ "now" | date: "%Y" }} <a class="" href="{{ routes.root_url }}">{{ shop.name }}</a>.</span><br>
      <span> Website Made W/ Love & Gluten-Free Flour by <a href="https://pixelbakery.com" class="" target="_blank" >Pixel Bakery Design Studio</a>.</span>
    </div>
    {% endcomment %}
  </div>
</div>

  </div>




  {% if section.settings.show_locale_selector or section.settings.show_currency_selector %}
    <div class="localization">
      {% include 'localization', input_prefix: 'footer' %}
    </div>
  {% endif %}



</footer>
<script>
    (function(){
        new InstagramFeed({
            'username': 'hollyshealthyholes',
            'container': document.getElementById("instagram-feed"),
            'display_profile': false,
            'display_biography': false,
            'display_gallery': true,
            'callback': null,
            'styling': true,
            'items': 6,
            'items_per_row': 6,
            'margin': 0
        });
    })();
</script>
{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "link_list",
        "id": "link_list",
        "label": "Menu",
		    "default": "footer",
		    "info": "This menu won't show dropdown items"
      },
      {
        "type": "header",
        "content": "Language Selector",
        "info": "To add a language, go to your [language settings.](/admin/settings/languages)"
      },
      {
        "type": "checkbox",
        "id": "show_locale_selector",
        "label": "Show language selector",
        "default": true
      },
      {
        "type": "header",
        "content": "Currency Selector",
        "info": "To add a currency, go to your [payment settings.](/admin/settings/payments)"
      },
      {
        "type": "checkbox",
        "id": "show_currency_selector",
        "label": "Show currency selector",
        "default": true
      }
    ]
  }
{% endschema %}
