<footer class="page-footer px-1 px-md-5 cf bg--light-pink" data-section-type="footer">
  <div class="container px-1 ">
    <div class="row"><!--This is your first row-->
      <div class="col-md-4 d-flex flex-column justify-content-around  footer-col-last text-center text-md-left  my-3">
        		<a href="/" >
            		<img class="footer-logo w-100" src="{{  'HHH_Logo_AltBrown.svg' | asset_url  }}" alt="Holly's Healthy Holes logo" />
        		</a>
          <p class="copyright" role="contentinfo"></p>
      </div>
      <div class="col col-md-3 footer-nav p-3 h-100 text-center text-md-left" >
        {% if section.settings.link_list != blank %}
          <div class="nav footer-nav w-100" role="navigation" aria-label="{{ 'layout.footer.menu_aria_label' | t | escape }}">
            <ul class="my-2 text-center text-md-left w-100">
              {% for link in linklists[section.settings.link_list].links %}
              <li class="footer-nav-links">{{ link.title | link_to: link.url }}</li>
              {% endfor %}
              <li class="footer-nav-links">
                <div class="text-center text-md-left">
                  {% include 'social-icons', icon_setting: settings.social_custom_icon, icon_size: 'x40' %}
                </div>
              </li>
            </ul>
          </div>
  		{% endif %}


      </div>
<div class="col-md-5 d-flex flex-column justify-content-between text-center text-md-left my-3">
  <div class="footer-contact-info mb-1 pl-0">
    <a class="" href="#" rel="nofollow" target="_blank">
      2215 LEAVENWORTH STREET <br> OMAHA, NE, 68102
    </a>
  </div>
  <div class="footer-contact-info my-1 pl-0">
    <a href="tel:1402473050" target="_blank">(402) 347-3050</a>
  </div>
  <div class="footer-contact-info my-1 pl-0">
    <a href="mailto:howdy@hollyshealthyholes.com" target="_blank">howdy@hollyshealthyholes.com</a>
  </div>

</div>


</div><!--This ends the first row-->
<div class="row my-3 pt-5">
  <div class="footer-nav  col-12">
    <div class="image-wrapper">
      <img class="" src="{{  'HHH_DonutGuy.svg' | asset_url  }}" alt="Happy Gluten-Free Donut Illustration" />
    </div>
    <div class="pixelbakery mt-1 text-center mt-2 small ">
      <span class="shop">&copy; {{ "now" | date: "%Y" }} <a class="" href="{{ routes.root_url }}">{{ shop.name }}</a>.</span><br>
      <span> Website Made W/ Love & Gluten-Free Flour by <a href="https://pixelbakery.com" class="" target="_blank" rel="nofollow">Pixel Bakery</a>.</span>
    </div>
  </div>
</div>

  </div>




  {% if section.settings.show_locale_selector or section.settings.show_currency_selector %}
    <div class="localization">
      {% include 'localization', input_prefix: 'footer' %}
    </div>
  {% endif %}



</footer>

{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "link_list",
        "id": "link_list",
        "label": "Menu",
		    "default": "footer",
		    "info": "This menu won't show dropdown items"
      },
      {
        "type": "header",
        "content": "Language Selector",
        "info": "To add a language, go to your [language settings.](/admin/settings/languages)"
      },
      {
        "type": "checkbox",
        "id": "show_locale_selector",
        "label": "Show language selector",
        "default": true
      },
      {
        "type": "header",
        "content": "Currency Selector",
        "info": "To add a currency, go to your [payment settings.](/admin/settings/payments)"
      },
      {
        "type": "checkbox",
        "id": "show_currency_selector",
        "label": "Show currency selector",
        "default": true
      }
    ]
  }
{% endschema %}
