{% assign  normal_order = 'order-last order-sm-last' %}
{% assign reverse_order = 'order-last order-sm-first'  %}

<section  class="container-fluid bg--white m-t-125 py-5">
  <div class="container">
    <div class="row row-cols-1 row-cols-md-3">

      <div class="col mb-4 hvr-float ">
        <div class="card bg--grey rounded-lg shadow-sm border-0 h-100">



            <div class="pink-skrim"></div>
            <div class="card-body d-flex flex-column justify-content-between  border-0">
              <h4 class="card-title"> Stuff Yo Box</h4>
              <p class="card-body pb-2 pt-1 ">
                You shouldn’t put all your eggs in one basket, but they never said anything about putting all your holes in one box. So, go ahead. Fill ‘er up real good. Pick from any donut we have to offer.
              </p>
              <a class="flex-fill w-100 text-center border-0 d-flex flex-column hvr-float shadow-sm justify-content-center mb-3 bg--white rounded color--pink text-decoration-none py-3" href="/apps/bundles/bundle/47760">
                <p class="font-weight-bold mb-1">HALF DOZEN</p>
                <img class="img-fluid donut-symbol" src="{{  'HHH_half_dozen.svg' | asset_url  }}" alt="Build your own half dozen donut box"/>
              </a>

              <a class="flex-fill w-100 text-center border-0 d-flex flex-column hvr-float shadow-sm justify-content-center bg--white rounded color--pink text-decoration-none py-3" href="/apps/bundles/bundle/47761">
                <p class="font-weight-bold mb-1">FULL DOZEN</p>
                <img class="img-fluid donut-symbol" src="{{  'HHH_dozen.svg' | asset_url  }}" alt="Build your own half dozen donut box"/>
              </a>

            </div>

        </div>
      </div>


      {% for block in section.blocks %}
        {%- assign collection = collections[block.settings.collection] -%}
        {% capture collection_image %}{% if collection.image %}{{ collection.image | img_url: 'master' }}{% endif %} {% endcapture %}

        <div class="col mb-4 hvr-float ">
          <div class="card rounded-lg border-0 shadow-sm h-100">
            <a href="{{ collection.url }}">
              {% if collection_image != blank %}
              <div class="card-wrapper order-now">
                <img src="{{ collection_image }}" class="card-img rounded-lg border-0" alt="{{collection.title}}">
              </div>
              {% else %}
                <img src="https://media.pixelbakery.com/HHH/images/IMG_5804.jpeg" class="card-img  border-0" alt="{{collection.title}}">
              {% endif %}

              <div class="pink-skrim"></div>
              <div class="card-img-overlay d-flex flex-column justify-content-center border-0">
                <h5 class="card-title rounded">{{collection.title}}</h5>
              </div>
            </a>
          </div>
        </div>

      {% endfor %}
    </div>
  </div>
</section>

{% comment %}
{% for block in section.blocks %}
  {%- assign collection = collections[block.settings.collection] -%}
  {% case forloop.index %}
    {% when 1 %}
      {% assign section_icon = 'HHH_Donut1.svg' | asset_url   %}
      {% assign delay = '-1s'   %}
    {% when 2 %}
      {% assign section_icon = 'HHH_Donut2.svg' | asset_url %}
      {% assign delay = '-2s'   %}
    {% when 3 %}
      {% assign section_icon = 'HHH_Donut3.svg' | asset_url %}
      {% assign delay = '-3s'   %}
    {% when 4 %}
      {% assign section_icon = 'HHH_Donut4.svg' | asset_url %}
      {% assign delay = '-4s'   %}
  {% endcase %}
<section  class="container-fluid bg--white">
  <div class="row no-gutter d-flex split-section">
    <div class=" py-2 col-12 col-md-8 col-xl-6 left split-text-50 {% cycle reverse_order, normal_order  %}">
      <div class="container p-2 p-md-5 d-flex flex-column justify-content-center  h-100 p-b-125 p-t-125">


        <div class="row mx-3 ">

          <div class="col-12 align-center mx-auto">

            <img src="  {{section_icon}}" alt="{{collection.title}} illustration" class="my-3 collection-icon" style="animation-delay: {{delay}};"/>
            <h1 class="feature-header h2 feature-header--visible pt-3"> {{collection.title}}</h1>
            <p class=" px-1 px-md-5 my-5 align-center">{{collection.description}}</p>
            <a class="btn btn-primary align-center" href="{{ collection.url }}"><span class="material-icons">
shopping_cart
</span>  {{collection.title}}</a>

          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-4 col-xl-6 right  flex-shrink  p-0">
      {% capture collection_image %}{% if collection.image %}{{ collection.image | img_url: 'master' }}{% endif %} {% endcapture %}
      <div class="split-image" href="{{ collection.url }}">
      <a href="{{ collection.url }}">
        <img class="object-fit " alt="{{ collection.title | escape }}" src="{{ collection_image }}">
      </a>
    </div>
    </div>

  </div>
</section>

{%- endfor -%}
{% endcomment %}




{% schema %}
  {
    "name": "Collection list",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Collections"
      },
      {
        "type": "paragraph",
        "content": "All of your collections are listed by default. To customize your list, choose 'Selected' and add collections."
      },
      {
        "type": "radio",
        "id": "display_type",
        "label": "Select collections to show",
        "default": "all",
        "options": [
          {
            "value": "all",
            "label": "All"
          },
          {
            "value": "selected",
            "label": "Selected"
          }
        ]
      },
      {
        "type": "select",
        "id": "coll_layout",
        "label": "Collection layout",
        "options": [
          {
            "value": "columns",
            "label": "Collage"
          },
          {
            "value": "rows",
            "label": "Grid"
          }
        ],
        "default": "columns"
      },
      {
        "type": "range",
        "id": "coll_layout_per_row_int",
        "label": "Collections per row",
        "min": 2,
        "max": 4,
        "default": 3
      },
      {
        "type": "select",
        "id": "hover_effect",
        "label": "Hover effect",
        "default": "info",
        "options": [
          {
            "value": "info",
            "label": "Show collection title"
          },
          {
            "value": "",
            "label": "None"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "show_count",
        "label": "Show product count",
        "default": true
      }
    ],
    "blocks": [
      {
        "type": "image",
        "name": "Collection",
        "settings": [
          {
            "type": "collection",
            "id": "collection",
            "label": "Collection"
          }
        ]
      }
    ]
  }
{% endschema %}
