{% if product.metafields.global.nutrition %}
{% assign nutrition = product.metafields.global.nutrition %}

  <section class="shopify-section bg--white py-3" id="nutrition">
    <div class="container my-5 py-5">
      <div class="row">
        <div class="col-12 col-md-5 pr-2">{{ product.metafields.global.Fat }}
          <h3 class="feature-header h2 align-left feature-header--visible py-4"> Nutritional Information</h3>
          <p class="lead">Nutritional numbers are listed as per donut based on a 2,000 calorie daily diet. <a href="/pages/nutrition">View nutrition info & ingredients</a> for all of our donuts.</p>
          <ul class="list-group list-group-flush">

            {% comment %} Display Protein {% endcomment %}
            {% if product.metafields.global.protein %}
              {% assign protein = product.metafields.global.protein | plus: 0.00 %}
              {% comment %} 50DV Based off of FDA's website as of Aug 2020 {% endcomment %}
              {% assign protein_dv = protein | divided_by: 50.000  |  times: 100.00 | round: 2 %}
              <li class="list-group-item">
                <span class="float-left "><span class="font-weight-bold">Protein: </span>{{protein}} grams</span>
                <span class="float-right">{{protein_dv}}% of daily value</span>
              </li>
            {% endif %}

            {% comment %} Display Net Carbs {% endcomment %}
            {% if product.metafields.global.carbs %}
              {% assign carbs = product.metafields.global.carbs | plus: 0.00 %}
                {% comment %} 275DV Based off of FDA's website as of Aug 2020 {% endcomment %}
              {% assign carbs_dv = carbs | divided_by: 275.000 |  times: 100.00  | round: 2 %}
              <li class="list-group-item">
                <span class="float-left "><span class="font-weight-bold">Net Carbs: </span>{{carbs}} grams</span>
                <span class="float-right">{{carbs_dv}}% of daily value</span>
              </li>
            {% endif %}

            {% comment %} Display Fat {% endcomment %}
            {% if product.metafields.global.fat %}
              {% assign fat = product.metafields.global.fat | plus: 0.00 %}
                {% comment %} 65DV Based off of FDA's website as of Aug 2020 {% endcomment %}
              {% assign fat_dv = fat | divided_by: 65.000 |  times: 100.00  | round: 2 %}
              <li class="list-group-item">
                <span class="float-left "><span class="font-weight-bold">Fat: </span>{{fat}} grams</span>
                <span class="float-right">{{fat_dv}}% of daily value</span>
              </li>
            {% endif %}

            {% comment %} Display KCals {% endcomment %}
            {% if product.metafields.global.kcals %}
              {% assign kcals = product.metafields.global.kcals | plus: 0.00 %}
                {% comment %} 2000DV Based off of FDA's website as of Aug 2020 {% endcomment %}
              {% assign kcals_dv = kcals | divided_by: 2000.000 |  times: 100.00  | round: 2 %}
              <li class="list-group-item">
                <span class="float-left "><span class="font-weight-bold">KCals: </span>{{kcals}} </span>
                <span class="float-right">{{kcals_dv}}% of daily value</span>
              </li>
            {% endif %}

            {% comment %} Display Fiber {% endcomment %}
            {% if product.metafields.global.fiber %}
              {% assign fiber = product.metafields.global.fiber | plus: 0.00 %}
                {% comment %} 28DV Based off of FDA's website as of Aug 2020 {% endcomment %}
              {% assign fiber_dv = fiber | divided_by: 28.000 |  times: 100.00  | round: 2 %}
              <li class="list-group-item">
                <span class="float-left "><span class="font-weight-bold">Fiber: </span>{{fiber}} grams</span>
                <span class="float-right">{{fiber_dv}}% of daily value</span>
              </li>
            {% endif %}

            {% comment %} Display Sugar {% endcomment %}
            {% if product.metafields.global.sugar %}
              {% assign sugar = product.metafields.global.sugar | plus: 0.00 %}
                {% comment %} 50DV Based off of FDA's website as of Aug 2020 {% endcomment %}
              {% assign sugar_dv = sugar | divided_by: 50.000 |  times: 100.00  | round: 2 %}
              <li class="list-group-item">
                <span class="float-left "><span class="font-weight-bold">Sugar: </span>{{sugar}} grams</span>
                <span class="float-right">{{sugar_dv}}% of daily value</span>
              </li>
            {% endif %}

      </div>

        {% if  product.tags contains "has-highlights" %}
        <div class="col-6 pl-2 offset-md-1">
          <h3 class="feature-header h2 align-left feature-header--visible py-4"> Product <br> Highlights</h3>
            <p class="lead">Product highlights are listed as per donut based on a blissfully guilt-free diet. </p>
            <div class="d-flex justify-content-start">
            {% for tag in product.tags %}
            {% case tag %}
              {% when 'highlight-vegan' %}
                   <div class="highlight highlight-vegan text-center my-1 mx-2 ">
                     <img class="img-fluid" src="{{  'HHH_NutritionBadge_Vegan.svg' | asset_url  }}" alt="This product is vegan" />
                     <p class=" font-weight-bold pt-1">100% </br>Vegan </p>
                   </div>

                {% when 'highlight-gluten-free' %}
                <div class="highlight highlight-vegan text-center my-1 mx-2 ">
                  <img class="img-fluid" src="{{  'HHH_NutritionBadge_GlutenFree.svg' | asset_url  }}" alt="This product is gluten free" />
                  <p class=" font-weight-bold pt-1">Gluten </br>Free </p>
                </div>

                {% when 'highlight-cbd' %}
                <div class="highlight highlight-vegan text-center my-1 mx-2 ">
                  <img class="img-fluid" src="{{  'HHH_NutritionBadge_CBD.svg' | asset_url  }}" alt="This product is infused with CBD" />
                  <p class=" font-weight-bold pt-1">CBD </br>Infused </p>
                </div>

                {% when 'highlight-no-lactose' %}
                <div class="highlight highlight-vegan text-center my-1 mx-2 ">
                  <img class="img-fluid" src="{{  'HHH_NutritionBadge_NoLactose.svg' | asset_url  }}" alt="This product is lactose free" />
                  <p class=" font-weight-bold pt-1">No </br>Lactose</p>
                </div>

                {% when 'highlight-no-nuts' %}
                <div class="highlight highlight-vegan text-center my-1 mx-2 ">
                  <img class="img-fluid" src="{{  'HHH_NutritionBadge_NoNuts.svg' | asset_url  }}" alt="This product is gluten free" />
                  <p class=" font-weight-bold pt-1">No Nuts </br> But Us</p>
                </div>

                {% when 'highlight-yummy' %}
                <div class="highlight highlight-vegan text-center my-1 mx-2 ">
                  <img class="img-fluid" src="{{  'HHH_NutritionBadge_VeryYummy.svg' | asset_url  }}" alt="This product is delicious" />
                  <p class=" font-weight-bold pt-1">Very </br>Yummy </p>
                </div>

                {% when 'highlight-no-soy' %}
                <div class="highlight highlight-vegan text-center my-1 mx-2 ">
                  <img class="img-fluid" src="{{  'HHH_NutritionBadge_NoSoy.svg' | asset_url  }}" alt="This product contains no soy" />
                  <p class=" font-weight-bold pt-1">Soy </br>Free </p>
                </div>

                {% when 'highlight-low-carb' %}
                <div class="highlight highlight-vegan text-center my-1 mx-2 ">
                  <img class="img-fluid" src="{{  'HHH_NutritionBadge_LowCarb.svg' | asset_url  }}" alt="This product is low in carbohydrates" />
                  <p class=" font-weight-bold pt-1">Low </br> Carb</p>
                </div>
              {% endcase %}
            {% endfor %}
          </div>
        </div>
        {% endif %}


    </div>
  </section>
{% endif %}
